@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
$font-stack: 'Rubik', sans-serif;
$color-header: #414141;
$main-background: #FBF8EC;


@mixin flex-row {
    display: flex;
    flex-direction: row;
}



*{
    box-sizing: border-box;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
h4{
    font-weight: 700;
    font-size: 18px;
}
section{
    background: $main-background;
}


.wrapper{
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    color: $color-header;
}

.Navbar{
    @include flex-row;
}
/*-------------------------------------------------------------------------
                            PRODUCT LIST COMPONENT
---------------------------------------------------------------------------*/
.card-product{ 
    .card-product__img{
        width:100%;
    }  
    .card-product__box{
        padding: 0.5em;
    }
}
.price-card{
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}
.name-card{
    margin-bottom: 1em;
}
.button-card{
    border: 1px solid #70C05B;
    border-radius: 4px;
    color: #70C05B;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
}
/*------------------------------------------------------------------------
                            Main page
-------------------------------------------------------------------------*/

//SECTION HEADER
.header{
    width: 100%;
    background-image: url('./img/bgHeader.jpg');

    .wrapper{
        .head-info{
            @include flex-row; 
            .head-info__title{
                margin-top: 4em;
                margin-bottom: 4em;
            }
        }
    }
}

//SECTION SALE
.sale-line{
    .wrapper{
        .sale-line__title{
            padding-top: 5em;
            padding-bottom: 2.5em;
        }
    }
    padding-bottom: 2.5em;
}

//SECTION NEW PRODUCTS
.new-line{
    .wrapper{
        .new-line__title{
            padding-top: 5em;
            padding-bottom: 2.5em;
        }
    }
    padding-bottom: 2.5em;
}

//SECTION SPECIAL PROPOSE
.special-propose{
        
        .special-propose__title{
            padding-top: 5em;
            padding-bottom: 2.5em;
        }


        .special-propose_box-1{    
            background: #FCD5BA;
            box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
            border-radius: 4px;
            .special-propose_box1-content{
                padding-left: 2em;
                margin-right: 1em;
                padding-top: 2em;  
                margin-bottom: 0.9em;     
            }
            .special-propose_box1-img{
                width: 206.76px;
                height: 138.16px;
                filter: drop-shadow(0px 8px 47px rgba(200, 90, 53, 0.51));
                border-radius: 10px;
                margin-right: 5.5em;
            }
        
        }




        .special-propose_box-2{
            background: #E5FFDE;
            border-radius: 4px;
            .special-propose_box2-content{
                margin-top: 2em;
                margin-left: 2.3em;
            }
            .special-propose_box2-img{
                margin-left: 4em;
                margin-right: 3em;
                margin-top: 0.9em;
                img{
                    width: 193px;
                    height: 186px;
                }
                
            }
        }
    padding-bottom: 9em;
}

//SECTION MAP MARKET
.map{
    .wrapper{
        .map-places{
            margin-top: 2em;
            .map-place_cross{
                padding: 0.5em;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #606060;
                background: #F3F2F1;
                border-radius: 4px;
            }
            margin-bottom: 1.6em;
        }
    }
    padding-bottom: 9em;
}


.article{
    .wrapper{
        .link-article{
            margin-top: 2.5em;
            
            .link-article-card{
                    max-width: 25em;
                    position: relative;
                    background: #FFFFFF;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .link-article-card_img{
                        margin-bottom: .7em;
                        img{
                            border-radius: 4px;
                            width:100%;
                            height: 12em;


                        }
                    }
                    .text-muted{
                        padding-left: 0.7em;
                    }
                    .link-article-card_body{
                        padding-left: 0.7em;
                        padding-right: 3em;
                        
                        .link-article-card_title{
                            p{
                                display: inline-block;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 150%;
                                color: #414141;
                                margin-bottom: 0.7em;
                            }
                        }
                        .link-article-card_text{
                            margin-bottom: 0.7em;
                        }
                        .link-article-card_button{
                            position: relative;
                            bottom: 0em;
                            color: #70C05B;
                            background: #E5FFDE;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            a{
                                display:inline-block;
                                margin: 0.5em 2em;
                            }
                            
                        }
                        margin-bottom: 0.7em;
                    }
                    
            }
            padding-bottom: 5em;
}
        }
    }
   
    


//SECTION FOOTER
.footer{
    background: #F9F4E2;
    .wrapper{
        .footer-row{
            padding-top:2em;
            .footer-logo{
                margin-bottom: 3.2em;
            }
            .footer-menu{
                padding-top: 0.3em;
            }
            .footer-social{
                margin-left: 4.5em;
                padding-right: 0.7em;
            }
        }
        
    }
}


/*-----------------------------------------------------------------------------------------------
                        CATALOG TYPE PAGE
-------------------------------------------------------------------------------------------------*/
.types-product{
    .wrapper{
        .title-page{
            padding-top: 4.2em;
            padding-bottom: 2em;
            h2{
                font-size: 48px;
            }
        }
        .type-card{
            padding: 0;
            
            color: #FFFFFF;
            position: relative;
            border-radius: 4px; 
            .type__title{
                position: absolute;
                font-weight: 700;
                font-size: 18px;
                top: 5em;
                width: 100%;
                z-index: 100;
                position: absolute;
                background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);
                bottom: 0;
                display: grid;
                align-items: end;
                border-radius: 4px;
                padding-left: 0.6em;
                padding-bottom: 0.2em;
                font-size: 18px;

            }
            .type__img{
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;	
                max-height: 13em;
                min-width: 10em;
                img{
                    box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
                    border-radius: 4px;
                    display: block;
                    
                    height: 100%;
                    width: 100%;
                    object-fit: cover;	
                }
                
            }
        }
        padding-bottom: 2.5em;
    }
    
}



.types-product{
    .wrapper{
        h1{
            font-size: 64px;
        }
        
    }
}